.food-display{
  margin-top: 0px;
}
.food-display h2{
  font-size: max(1vw,30px);
  font-weight: 500;
  margin-bottom: 25px;
  text-shadow: 0px 5px 5px #cacaca;
}
.food-display-list{
display: grid;
grid-template-columns:1fr 1fr 1fr ;  /*--Good for responsive grid*/
gap: 30px;
row-gap: 50px;

}
@media (max-width:900px) {
  .food-display-list{
display: grid;
grid-template-columns:1fr 1fr;  /*--Good for responsive grid*/
gap: 30px;
row-gap: 50px;

}
.food-display h2{
  font-size: 1rem;
}
}